*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.diver{
    
    color: brown;
    background-color:#262841;
    width: 100%;
    height: 80px;
}
.downw{
   
    color: rgb(9, 9, 9);
     background-color: #ADB0B2 ;
      width: 60%;
       height: 700px;
       float: left;
}
.rig{
    
    color: rgb(109, 109, 106);
      width: 40%;
       height: 700px;
       float: left;

}
.doyo{
   
    color: rgb(109, 109, 106);
     background-color:#F4F0F0;
      width: 100%;
       height: 40%;
       
       
}
.super{
    color: rgb(109, 109, 106);
    background-color:#F4F0F0;
     width: 100%;
      height: 300px;
}
.monke{
    
    color: rgb(109, 109, 106);
     background-color:#1E2639;
      width: 100%;
       height: 400px;
       
}
.searchs{
    margin-top: 20px;
    margin-left: 30px;
    width: 80px;
    height: 30px;

}
.upnigga{
    color: rgb(7, 7, 7);
     background-color: #ADB0B2;
     

      width: 100%;
       height: 60%;
       
}
.dico{
    float :right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    background-color: #404043;
}
.box{
    float: left;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
    height: 150px;
    background-color: #d9d9d9;
}
.show{
    display: block;
}
.btn{
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 12px 16px;
    cursor: pointer;
    background-color:rgb(39, 96, 112);
    background-color: #F4F0F0;


}
.prodo{
    max-height: 48vh;
    overflow-y: scroll;
}
.optio{
    display: flex;
    justify-content: center;
}
.btn:hover{
    text-decoration: underline;
}