*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.nav {
    color: #fafafa;
    background-color: #262841;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: baseline;
}

.logo {
    
   
    font-size: 15px;
}

.link {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    
}
.link div {
    padding-left: 5px;
    padding-right: 5px;
}
.login {
    display: flex;
    justify-content: center;
    align-items:baseline;
}


.link div:hover {
    
    cursor: pointer;
    opacity: 0.85;
}

.bg {
    background-color: #D9D9D9;
}

.container {
    display: flex;
    justify-content: space-evenly;
}
.right {
    width: 48%;
    border-right: 0.5px solid black;
    /* background-color: #D9D9D9; */
    padding: 20px;
    margin-top: 10px;
    max-height: 70vh;
}
.right div {
    display: flex;
    text-align: left;
    justify-content: center;
    
    gap: 20px 5px;
}
.right div input {
    background-color: #9E9898;
    width: 30%;
    color: #fff;
    border: none;
    padding: 13px;
}
.right div button {
    background-color: #534A4A;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}
.left {
    width: 50%;
    /* background-color: beige; */
    padding: 20px;
    margin-top: 18px;
    max-height: 70vh;
    
}

.right-content {
    background-color: #BAB6B6;
    padding: 15px;
    color: #fff;
    margin-top: 10px;
    width: 100%;
    text-align: left;
    gap: 40px 20px;
    
}
.right-content div {
   width: 30%;
}

.left-content {
    background-color: #BAB6B6;
    padding: 15px;
    
}

.left-content:nth-child(odd){
    background-color: #d4d3d3;
}
.left div {
    display: flex;
    justify-content: space-evenly;
    
}

.left .select {
    background-color: #9E9898;
    width: 15%;
    color: #fff;
    border: none;
    padding: 13px;
}